<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flying</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Flying</h1>
            <p>¡Tu mejor opción para b&uacute;squeda de vuelos!</p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-offset-3 col-md-6 centered">
            <form>
                <div class="form-group col-md-8">
                    <label class="col-sm-2 col-form-label">Origen</label>
                    <select id="origen" name="origen" class="form-control">
                        {% for pais in paises %}
                        <option value="{{pais}}">{{pais}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <label class="col-sm-2 col-form-label">Destino</label>
                    <select id="destino" name="destino" class="form-control">
                        {% for pais in paises %}
                        <option value="{{pais}}">{{pais}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <input id="tipo0" type="radio" name="tipo" value="0" checked class="form-check-input"> Vuelo directo
                    <input id="tipo1" type="radio" name="tipo" value="1" class="form-check-input"> Vuelo con escalas
                    <br>
                </div>
                <div class="form-group col-md-8 centered">
                    <input id="enviar" value="Enviar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-md-offset-2 col-md-8 text-center no-encontrado">
            <h2>No hay resultados de la búsqueda</h2>
        </div>
        <div class="col-md-offset-2 col-md-8 text-center encontrado">
            <h2>Resultados de la búsqueda</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Aerol&iacute;nea</th>
                        <th>Aeropuerto Origen</th>
                        <th>Aeropuerto Destino</th>
                        <th>Escalas</th>
                    </tr>
                </thead>
                <tbody id="tabla">
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>

</html>